body{
    background-image: url(/resources/spinningJosh.gif);
    background-color:lightcyan;
    background-size: cover;
    margin:10px;
}
h1{
    font-size: 60px;
}


.heading{
    /* background-color: aquamarine; */
    padding:1em;
}

.mainbody{
    background-color:lightblue;
    padding:10px;
}

#navigationButtons{
    width:550px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 65px;
    
}

ul{
    margin-top:10px;
    padding-left:10px;
}
li{
    color:grey;
    list-style-type: none;
    position:relative;
    margin:10px;
    padding-left:50px;
    transition: padding-left 230ms ease-out;

}
li:before {
    content: ">"; /* Use any bullet character you prefer */
    position: absolute;
    left: 0;
    transition: transform 0.3s; /* Add a transition for smooth rotation */
  }

li:hover:before {
    transform: rotate(180deg); /* Rotate the bullet 360 degrees on hover */
  }
li:hover{
    animation: turn90degrees 1s;
    padding-left:100px;
    color: pink;
    justify-content: flex-end;
}
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}