body{
    background-image: url(/resources/spinningJosh-ezgif.com-crop.gif);
    background-repeat:no-repeat;
    background-color:black;
    background-size: cover;
    margin:10px;
    font-family: "Press Start 2P", system-ui;
}
h1{
    font-size: 3em;
}

.heading{
    color:#4AF626;
    padding:1em;
}
.navigation{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

#navigationButtons{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 3em;
    text-decoration: none;
}

ul{
    margin-top:10px;
    /* padding-left:10px; */
}

li{
    font-weight: bold;
    color:grey;
    list-style-type: none;
    position:relative;
    margin:10px;
    padding-left:50px;
    transition: padding-left 230ms ease-out;

}
li:before {
    content: ">"; /* Use any bullet character you prefer */
    position: absolute;
    left: 0;
    transition: transform 0.3s; /* Add a transition for smooth rotation */
  }

li:hover:before {
    /* transform: rotate(180deg); Rotate the bullet 360 degrees on hover */
  }
li:hover{
    /* animation: turn90degrees 1s; */
    padding-left:1.5em;
    color: #4AF626;
    justify-content: flex-end;
}
a{
    color:grey;
    text-decoration: dotted;
}
a:hover{
    color:#4AF626
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}